<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    
    <script type="text/javascript">

        let num = 2

        function add_field(type){
            console.log('clicked')
            num +=1
            $("#study_form").append("<div id='input_group"+ num +"'><p><input id='key"+ num +"' type='text' required><input id='value"+ num +"' type='"+ type +"' required> <span onclick='delete_inputs("+num+")'>X<span></p><input type='hidden' id='field_to_be_submitted"+ num +"'></div>");    
        }

        function delete_inputs(num){
            console.log('clicked')
            let inputGroupToDelete = document.getElementById('input_group'+num)
            console.log(inputGroupToDelete)
            inputGroupToDelete.parentNode.removeChild(inputGroupToDelete);
        }
  
  
        function changeName(){
            for(i=0; i<=num; i++){
                if(document.getElementById('input_group'+ i)){
                    document.getElementById(`field_to_be_submitted${i}`).setAttribute("name", document.getElementById(`key${i}`).value)
                    document.getElementById(`field_to_be_submitted${i}`).setAttribute("value", document.getElementById(`value${i}`).value)
                    console.log('testing')
                } else {
                    continue;
                }    
            }   
        }

        Date.prototype.toDateInputValue = (function() {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0,10);
        });

        window.onload = function(){
            document.getElementById('value0').value = new Date().toDateInputValue();
        }

        
  
      </script>
      

    <title>Document</title>
</head>
<body>
    <h1>Study Tracker</h1>
    <h2>Add a session</h2>
    <form action="{{ url_for('add_a_session') }}" method="post">
        <div id="study_form">
            <div id="input_group0">
                <p><input id="key0" type="text" value="date" disabled><input id="value0" type="date"></p>
                <input type='hidden' id="field_to_be_submitted0">
            </div>
            <div id="input_group1">
                <p><input id="key1" type="text" value="summary" disabled><input id="value1" type="text" required></p>
                <input type='hidden' id="field_to_be_submitted1">
            </div>
        </div>
        <p id="add_fields" onclick="add_field('text');">+Note</p>
        <p id="add_fields" onclick="add_field('url');">+Link</p>
        <button id="add_fields">+</button>
        <input type="submit" value="submit" onclick="changeName()">
    </form>
    
</body>
</html>