<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Study Tracker</h1>

    <p><a href="{{url_for('view_all')}}">View all</a></p>
    <p><a href="#">Search by date</a></p>
    <p>Search by language</p>
    <p><a href="{{url_for('view_by_language', language='javascript')}}">Javascript</a></p>
    <p><a href="{{url_for('view_by_language', language='python')}}">Python</a></p>
    <p><a href="{{url_for('add_a_session')}}">Add a session</a></p>
</body>
</html>