<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Session Detail</h1>

    {% for k,v in session.items() %}
        {% if k != '_id' %}
            <p>{{k}} : {% if v.startswith('http') %}<a href="{{v}}" target="_blank">{{v}}</a>{% else %}{{v}}{% endif %}</p>
        {% endif %}
    {% endfor %}

    
</body>
</html>